{template 'common/header'}
<div class="we7-page-title">标题栏</div>
<!--顶部TAB//-->
<ul class="we7-page-tab">
    <li><a href="{php echo $this->createWebUrl('cost', array('op' => 'display'))}">系统开销管理</a></li>
    <li  class="active"><a href="{php echo $this->createWebUrl('cost', array('op' => 'add'))}">添加新开销</a></li>
</ul>
<!--顶部TAB//-->

<div class="main">
    <form action="" class="form-horizontal form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$_GPC['id']}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
                    <div class="col-sm-9">
                        <input type="text" required="required" name="title" class="form-control"
                               value="{$info['title']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图标</label>
                    <div class="col-sm-8">
                        {php echo tpl_form_field_image('icon', $info['icon'])}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-8">
                        <input type="number" required="required" name="sort" class="form-control"
                               value="{$info['sort']}"/>
                    </div>（默认为不排序）
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
            <div class="col-sm-8">
                <input name="submit" type="submit" value="提交" class="btn btn-primary span3"/>
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function remove(id,obj){
        $.ajax({
            url: "{php echo $this->createWebUrl('remove', array('id'=>$rid))}", // 这个地址做了跨域处理，可以用于实际调试
            data:{wid:id},
            type: 'POST',
            success: function (data) {
                eval("var data="+data);
                $(obj).parents("div.col-md-2").remove();
            }
        });
    }
    function del(id,obj){
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
            $.ajax({
                url: "{php echo $this->createWebUrl('del', array('id'=>$rid))}", // 这个地址做了跨域处理，可以用于实际调试
                data:{wid:id},
                type: 'POST',
                success: function (data) {
                    eval("var data="+data);
                    $(obj).parents("div.col-md-2").remove();
                }
            });
        }else{
            return false;
        }
    }
    function check(id,obj){
        $.ajax({
            url: "{php echo $this->createWebUrl('check', array('id'=>$rid))}", // 这个地址做了跨域处理，可以用于实际调试
            data:{wid:id},
            type: 'POST',
            success: function (data) {
                eval("var data="+data);
                $(obj).parents("div.col-md-2").remove();
            }
        });
    }
</script>

{template 'common/footer'}
